<div class="dialog-title">
  <button mat-icon-button (click)="onCrossClick()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content class="dialog-content">
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Message</mat-label>
      <textarea
        matInput
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
        formControlName="message"
      ></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button color="primary" (click)="closeDialog()" cdkFocusInitial>
    Add Message
  </button>
</div>
